<div class="wrapper">
  <div class="card-view">

    <div class="card front-view">
      <div class="header-section">
        <div class="logo">
          <img src="../assets/images/header.png" alt="HEADER_SECTION">
        </div>
        <div class="note">
          <h3>RESUME ID</h3>
        </div>
      </div>
      <div class="middle-content">
        <div class="image-logo">
          <img src="../assets/images/card_pic.jpg" alt="PROFILE_PIC">
        </div>
        <div class="info-content">
          <ul class="basic-details">
            <li>
              <span class="des">Name</span>
              <span class="value">Swamy Thudum</span>
            </li>
            <li>
              <span class="des">Role</span>
              <span class="value">Software Developer</span>
            </li>
            <li>
              <span class="des">Experience</span>
              <span class="value">3+ Years</span>
            </li>
          </ul>
          <p class="skills-heading">Skills</p>
          <ul class="skills">
            @for (skill of skills; track skill) {
              <li>{{skill}}</li>
            }

          </ul>
        </div>
        
      </div>
      <div class="footer">
        <div class="phone">
          <h2>+91 970 XXX X757</h2>
        </div>
        <div class="divider-line"></div>
        <div class="contact-info">
           <ul>
            <li ><a href="mailto:thudumswamy786@gmail.com">{{mail}}</a></li>
            <li> <a href="https://www.linkedin.com/in/swamy-t/">Linkedin Connection</a></li>
            <li> <a href="https://thisisswamy.github.io/new-version-portfolio/#/about">Portfolio</a></li>

           </ul>
        </div>
      </div>
    </div>
    <div class="card back-view">
        <div class="header-section">
            <h3>Experience</h3>
        </div>
        <div class="exp">
           <div class="comp-logo">
             <img src="../assets/images/tcs.png" alt="">
             <p>07/2021 - Present</p>
           </div>
           <div class="des">
            <ul class="resposible">
              <li>I have worked as Frontend Developer over 3+ years</li>
              <li>Have developed and designed best solutions for business. and added value.</li>
            </ul>
           </div>
        </div>
        <div class="projects">
          <p>Projects</p>
          <ul class="projects-list">
            <li>Admin Portal for Taxi Services</li>
            <li>API Developer Portal</li>
            <li>Admin portal for API Development Portal</li>
          </ul>
        </div>
        <div class="divider-line"></div>
        <div class="intrests">
           <!-- <p>Instrests</p> -->
           <ul class="instrest-list">
              <li>Cloud Technologies</li>
              <li>Fullstack development</li>
              <li>Artificial Intelligence</li>
           </ul>
        </div>
        
        
    </div>

  </div>
</div>